# Fichiers volumineux
!api_flask/dataframeP7_light.pkl
!streamlit_app/dataframeP7_light.pkl
dataframeP7_light.pkl
*.pkl

# Dossiers
__pycache__/
.ipynb_checkpoints/
data/

# Environnement
.env
venv/
.venv/
env/

# Autres
.DS_Store
